* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

/* Root makes it easier to access the main colors of the site at the top, rather than going through each individual class when you want to make a change  */
:root {
  --red: #f9032f;
  --black: #000;
  --white: #fff;
}

.navbar {
  background: var(--black);
  height: 4rem;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  /* How wide we want the side to span. So the edges will always have that space on the left of logo and right of links*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-logo {
  color: var(--white);
  padding-left: 1rem;
  font-size: 1.5rem;
}

.navbar-link {
  color: var(--white);
  padding: 0rem 1rem;
}

.navbar-link:hover {
  color: var(--red);
}

@media (max-width: 768px) {
  /* Prevents the user from scrolling after clicking on burger` */
  body.active {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* creates the drop down when user clicks on the burger */
  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr; /* li sit in one column that holds 100px thick links*/
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px; /* this is needed to hide the li from view prior to clicking on the burger */
  }

  .navbar-menu.active {
    top: 100%;
    opacity: 1;
    z-index: 2;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--black);
  }

  /* this actually makes the bars for the burger */
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
    display: block;
    cursor: pointer;
  }

  .mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  /* nth-child(2)targets the second bar */
  .mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  /* creates the illusion of the burger turning into the X on click */
  .mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* home section */
.home-top {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("./images/home-gym.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-content {
  color: var(--white);
  padding: 3.5rem 1rem;
  line-height: 1;
  margin-bottom: 12rem;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

.home-title {
  font-size: clamp(3rem, 8vw, 7rem);
  /* clamp automatically scales, 3 is the lowest size and max is 7 */
}

.home-content p {
  font-size: clamp(1rem, 4vw, 2.5rem);
  margin-bottom: 2.2rem;
}

.get-started-btn {
  padding: 0.8rem 2.2rem;
  border: none;
  background: var(--red);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: 0.4s ease;
  text-decoration: none;
  border-radius: 7px;
}

.get-started-btn:hover {
  background: var(--black);
}

/*  Services section*/

.services {
  padding: 8rem calc((100vw - 1200px) / 2);
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* makes two columns */
  padding: 1rem;
}

.services-img {
  /* shrinks the image to fit in the 1fr */
  width: 100%;
  height: 100%;
}

.section-title {
  color: var(--red);
  margin-bottom: 0.7rem;
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black;
}

.section-title span {
  display: block;
}

.services-features {
  /* list-style: none; */
}

.services-heading {
  margin-bottom: 0.8rem;
  font-size: clamp(2rem, 6vw, 3rem);
}

.services-feature {
  margin-bottom: 1.4rem;
  font-size: clamp(1rem, 5vw, 1.3rem);
}

.fa-check-circle {
  color: var(--red);
  margin-right: 0.3rem;
}

@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr; /* makes 1 column so image sits below text */
  }
}

/* Membership section */

.membership {
  background: var(--black);
  color: var(--white);
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;
}

.membership h2 {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 0 1rem;
}

.membership-desc {
  margin-bottom: 3rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
}

.membership-container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 1rem;
}

.membership-card {
  padding: 2rem;
  min-height: 450px;
  width: 325px;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.membership-perks {
  min-height: 150px;
  /* this is needed so the text is all starting at the same point*/
}

.membership-card p {
  margin-bottom: 1rem;
}

.membership-icon {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  color: var(--red);
}

.membership-card h3 {
  margin-bottom: 2.5rem;
  font-size: clamp(1rem, 5vw, 2rem);
}

@media (max-width: 1100px) {
  .membership-container {
    flex-direction: column;
    align-items: center;
  }

  .membership-card {
    width: 85%;
    margin-bottom: 2rem;
  }
}

/* Staff section */

.staff {
  padding: 8rem calc((100vw - 1100px) / 2);
}

.staff-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat;
  /* grid-template-rows: repeat(auto, 350px); */
}

.staff-text {
  padding: 0.8rem;
}

.staff-text h2 {
  font-size: 3rem;
  margin-bottom: 0.8rem;
}

.staff-desc {
  font-size: clamp(1rem, 3vw, 1.5rem);
}

.staff-card {
  margin: 1rem;
  border-radius: 15px;
  position: relative;
}

.staff-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.staff-name {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10%;
  color: var(--white);
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  font-size: 3.5rem;
}

/* targets the personal trainers div */
.staff-text:nth-child(1) {
  grid-row: 1/3;
  grid-column: 2/3;
}

/* targets the free trial div */
.staff-text:nth-child(2) {
  grid-row: 5/6;
  grid-column: 1/2;
}

/* targets hitmonchan */
.staff-card:nth-child(3) {
  grid-row: 1/3;
  grid-column: 1/2;
}

/* targets primeape */
.staff-card:nth-child(4) {
  grid-row: 2/4;
  grid-column: 2/3;
}

/* targets hitmonlee */
.staff-card:nth-child(5) {
  grid-row: 3/5;
  grid-column: 1/2;
}

/* targets machamp */
.staff-card:nth-child(6) {
  grid-row: 4/6;
  grid-column: 2/3;
}

@media (max-width: 768px) {
  .staff-container {
    grid-template-columns: 1fr;
    grid-column: auto;
  }

  /* targets the personal trainers div */
  .staff-text:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  /* targets the free trial div */
  .staff-text:nth-child(2) {
    grid-row: 6/7;
    grid-column: 1/2;
  }

  /* targets hitmonchan */
  .staff-card:nth-child(3) {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  /* targets primeape */
  .staff-card:nth-child(4) {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  /* targets hitmonlee */
  .staff-card:nth-child(5) {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  /* targets machamp */
  .staff-card:nth-child(6) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

/* Contact section */
.email {
  height: 450px;
  width: 100%;
  padding: 5rem calc((100vw - 1300px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black);
}

.email-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-content h3 {
  color: var(--white);
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(1rem, 5vw, 3rem);
  padding: 0 0.8rem;
}

.email-content p {
  text-align: center;
  color: var(--white);
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.form-container input {
  padding: 1rem 1.5rem;
  outline: none;
  width: 350px;
  height: 50px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .form-container {
    display: flex;
    flex-direction: column;
    padding: 0 0.8rem;
  }

  .form-container input {
    margin-bottom: 0.8rem;
    border-radius: 10px;
    width: 100%;
  }
  .form-container button {
    width: 100%;
    border-radius: 10px;
    min-width: 350px;
  }
}

@media (max-width: 410px) {
  .form-container button {
    width: 100%;
    min-width: 250px;
  }
}
